<launch>
  <node pkg="tfmini_ros" type="lidar_public" name="lidar_public">
    <param name="serial_port" type="string" value="/dev/ttyUSB0" />
    <param name="baud_rate" type="int" value="115200" />
  </node>

  <node pkg="test" type="lidar_angle" name="lidar_angle">
    <param name="lidar_topic" value="/tfmini_ros_node/TFmini" />
  </node>

</launch>
